.center {
  text-align: center;
}

input[type="radio"] {
  margin-right: 5px;
}

label.radioButton {
  margin-right: 5px;
}

button.sync-button {
  margin-bottom: 5px;
}

.sync-col {
  text-align: center;
}
